<mat-card class="mat-elevation-z4">
  <div class="container">
    <h1>{{uye?.KullaniciAdi}} adlı kullanıcıya ait sorular</h1>
    <p></p>
    <h3 *ngIf="sorular?.length==0">Henüz bu kategoriye soru eklenmedi.</h3>
    <div *ngFor="let soru of sorular">
      <h2>{{soru.Baslik}}</h2>
      <p>
        <b>Kategori:</b> {{soru.KategoriAdi}} &nbsp;&nbsp;
        <b>Tarih:</b> {{soru.Tarih}} &nbsp;&nbsp;
        <a href="#" [routerLink]="['/soru', soru.SoruId]">
          <mat-icon aria-label="label" matTooltip="Detay">question_mark</mat-icon>
        </a>
      </p>
      <hr>
    </div>
  </div>
</mat-card>
