<button mat-button color="primary" (click)="goBack()"><mat-icon aria-label="label">arrow_back</mat-icon></button>
<div class="container">
  <h2>Üyeler</h2>
  <button mat-fab matTooltip="Üye Ekle" color="primary" (click)="Ekle()">
    <mat-icon aria-label="label">person_add</mat-icon>
  </button>
<p>&nbsp;</p>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="UyeFoto">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Fotoğraf</mat-header-cell>
    <mat-cell *matCellDef="let kayit">{{kayit.UyeFoto}}
      <img [src]="apiServis.siteUrl+'/Dosyalar/'+ kayit.UyeFoto" style="width: 100px;" matTooltip="Fotoğraf Güncellemek için tıklayınız" (click)="FotoGuncelle(kayit)">
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="KullaniciAdi">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kullanıcı Adı</mat-header-cell>
    <mat-cell *matCellDef="let kayit">{{kayit.KullaniciAdi}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="AdSoyad">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Ad Soyad</mat-header-cell>
    <mat-cell *matCellDef="let kayit">{{kayit.AdSoyad}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> E-posta</mat-header-cell>
    <mat-cell *matCellDef="let kayit">{{kayit.Email}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Sifre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Parola</mat-header-cell>
    <mat-cell *matCellDef="let kayit">{{kayit.Sifre}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="detay">
    <mat-header-cell *matHeaderCellDef>İşlemler</mat-header-cell>
    <mat-cell *matCellDef="let kayit">
      <button mat-icon-button color="primary" matTooltip="Soru Listele" [routerLink]="['/admin/soru',kayit.SoruUyeId]">
        <mat-icon aria-label="label">list_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Üye Düzenle" (click)="Duzenle(kayit)">
        <mat-icon aria-label="label">edit_note</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Üye Sil" (click)="Sil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButton>
</mat-paginator>

</div>

